{
  "functions": {
    "flarum-sso": {
      "schema": "https://supabase.com/docs/functions/_attachments/function-schema.json"
    }
  },
  "external": {
    "connections": {}
  },
  "secrets": {
    "FLARUM_URL": "https://community.chinaconnect.com",
    "FLARUM_SSO_SECRET": "CHANGE_ME_generate_with_openssl_rand_hex_32"
  }
}